:root{
    --color-btn-celeste: #2fb4cc;
    --color-fuente-gris: #6a6a6a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
}
.titulo{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    font-weight: 100;
    color: white;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px
}
.carta{
    width: 330px;
    border-radius: 6px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 400ms ease;
    background-color: white;
    font-family: sans-serif;
    min-height: 509px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carta h2{
    color: black;
}
.carta:hover{
    transform: scale(1.02);
    box-shadow: 5 5px 20px rgba(0, 0, 0, 0.4);
}
.carta img{
    width: 330px;
    height: 220px;

}
.carta p{
    line-height: 1.5;
    color: var(--color-fuente-gris);
}
.carta a{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    color: var(--color-btn-celeste);
    border: 1px solid var(--color-btn-celeste);
    border-radius: 4px;
    transition: all 400ms ease;
    width: 149px;
    align-self: center;
}
.carta a:hover{
    background: var(--color-btn-celeste);
    color: white;
}