@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter&family=Roboto&display=swap');
:root{
    --color-de-fuente: rgb(245, 237, 237);
    --color-bg-black: black;
    --color-bg-grey-primary: rgb(82, 72, 72);
    --color-bg-grey-secondary: rgb(114, 101, 101);
    --color-bg-grey-dark: rgb(24, 23, 23);
    --color-bg-rojo: rgb(215, 35, 35);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--color-bg-black);
}
h1,h2,p,a,li,i,label{
    color: var(--color-de-fuente);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
    padding: 15px 5%;
}
header svg{
    width: 130px;
    height: 130px;
    color: var(--color-bg-grey-primary);
    background-color: var(--color-bg-rojo);
    border-radius: 50%;
}
nav{
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
}
.contacto{
    display: flex;
    justify-content: center;
    background-color: var(--color-bg-rojo);
    border-radius: 5px;
    width: 115px;
}
main{
    display: flex;
    justify-content: center;
    min-height: 70vh;
}
.buscar{
    background-color: var(--color-de-fuente);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 60px;
    border-radius: 40px;
}
.buscar form{
    display: flex;
    align-items: center;
    width: 100%;
}
.buscador:focus{
    outline: none;
    color: black;
}
.buscar:focus-within{
    box-sizing: content-box;
    border: 2px black solid;
    outline: 1px white solid;
    height: 56px;
}
input{
    padding-left: 40px;
    font-size: 25px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--color-de-fuente);
    color: var(--color-bg-grey-primary);
    border-radius: 40px;
}
.buscar i{
    color: var(--color-bg-black);
    font-size: 35px;
    text-decoration-style: solid;
    margin: 0 40px;
}
a{
    font-size: 26px;
}
footer{
    background-color: var(--color-bg-grey-dark);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.contenidoFooter{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 75px;
}
footer .contenidoFooter p{
    font-size: 25px;
}
.desarrolladores ,.enlacesFooter{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}