@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter&family=Roboto&display=swap');
:root{
    --color-de-fuente: rgb(245, 237, 237);
    --color-bg-black: black;
    --color-bg-gris: rgb(62, 54, 54);
    --color-bg-rojo: rgb(215, 35, 35);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--color-bg-black);
}
h1,h2,p,a,li,i{
    color: var(--color-de-fuente);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, var(--color-bg-black), var(--color-bg-rojo));
    background-size: cover;
    clip-path: polygon(14% 22%, 0% 0%, 36% 10%, 28% 2%, 66% 8%, 61% 3%, 100% 13%, 74% 14%, 81% 21%, 49% 17%, 54% 26%);
    z-index: -1;
}
header i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    font-size: 80px;
    color: var(--color-bg-gris);
    background-color: red;
    border-radius: 50%;
}
nav{
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
}
.contacto{
    display: flex;
    justify-content: center;
    background-color: var(--color-bg-rojo);
    border-radius: 5px;
    width: 115px;
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 95px;
    margin: 70px 0;
}
.buscar{
    background-color: var(--color-de-fuente);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 60px;
    border-radius: 40px;
}
input{
    padding-left: 40px;
    font-size: 25px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--color-de-fuente);
    color: var(--color-bg-gris);
    border-radius: 40px;
}
.buscar i{
    color: var(--color-bg-black);
    font-size: 35px;
    text-decoration-style: solid;
    margin: 0 40px;
}
.titulo-contenido{
    text-transform: none;
    font-size: 75px;
    margin: 100px 0;
    color: var(--color-bg-rojo);
}
.destacados{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-bg-gris);
    width: 100%;
}
.destacados h2{
    font-size: 75px;
    margin: 40px 0;
}
.contenidoDestacados{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}
.cardDestacados{
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 180px;
}
img{
    width: 400px;
}
a{
    font-size: 26px;
}